button {
    border-radius: 10px;
}

.container {
    display: flex;
}

.container > div {
    background-color: orange;
    width: 50%;
    padding: 50px;
    border-color: aqua;
    border-width: 10px;
}

.container > div > .tabs{
    float: left;
}

.container > div ,img {
    border-radius: 9px;
}

.header {
    background-color: cadetblue;
    border-radius: 5px;
}

li {
    background-color: brown;
}

h1{
    text-align: center;
}

body {
    background-color: black;
}

textarea{
    background-color: aqua;
}